body{

   margin: 0 ;
    font-size: 2rem;

}
h1,h2 {

display: flex;
        background-color: hwb(0 93% 4% / 0.036);
        color:rgb(196, 39, 39);
        text-align: center;
        height: 70px;


        /*

            Fijamos la cabecera en el tope de la página  list-style: none;
             position: fixed;
        */

        width:100%;
        top:0%;
        left:170%;
        justify-content: center;
        align-items: center;
}

#youtube iframe{
   display:flex;

 width:40%;
 height:40%;
 top:40%;
margin-left: 35%;
   margin-right: 45%;
 }
 main{
    width: 60%;
    margin: 0 auto;
 }
 .irahome{
   display: flex;
   list-style: none;
   text-decoration: none;
   margin-top:13%;
  margin-right: 20%;
   margin-left:45%;
 }
 footer{
   background-color: navy;
   width: 100%;
   margin-top: 100%;
   text-align: center;
   padding: 13px  120px;
}

footer small{
   color: white;
   box-shadow: 2px 2px 10px rgb(109, 57, 57);

}

